<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
	<uses-sdk android:minSdkVersion="15" />
	<application android:label="Shops.Android"></application>
  
  <meta-data android:name="com.google.android.maps.v2.API_KEY"
          android:value="AIzaSyBhyBTQ9dJKeEgC0ECSSTVWcsOYCjn_QwA" />
  
</manifest>
